* {
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border: 3px solid black;
  background-color: #6EF;
  position: absolute;
  padding: 0.3rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}

button:hover {
  scale: 1.15;
}

button:active {
  background-color: #22B0CC;
  scale: 0.8;
}

#score {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  margin: 1rem 2rem;
  font-weight: bold;
}
.juice-count {
  color: rgba(0, 255, 0, 0.97);
  background-color: transparent;
  position: absolute;
  font-size: 1.5rem;
  animation: juice-count-anim 0.35s ease-in;
  animation-fill-mode: forwards;
}

@keyframes juice-count-anim {
  to {
    translate: 0 -150%;
    color: transparent;
  }
}
