* {
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

:root {
  --radius: 0.5rem;
  font-size: 20px;
}

body {
  padding: 2rem;
  justify-content: start;
  align-items: center;
  width: 65%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #EEF;
}

button {
  margin: 0.5rem;
  font-size: 1.5rem;
  background-color: #00F;
  border-radius: var(--radius);
  color: #FFF;
  padding: 1rem;
  font-weight: bold;
}

input {
  max-width: 33.33%;
  font-size: 1.2rem;
  border-radius: var(--radius);
  background-color: #FFF;
  padding: 1rem;
  height: 1rem;
  line-height: 1rem;
  outline: 0.25rem solid #00F;
  margin: 1rem;
}

ul {
  max-width: 600px;
  max-height: 600px;
  font-size: 1.5rem;
  margin: 1rem;
  list-style: disc;
  color: #22F;
  padding: 1rem;
  background-color: #FFF;
  border: 0.25rem inset #DDE;
  width: 90%;
  border-radius: var(--radius);
  outline: 0.25rem solid #00F;
  margin: 1rem auto 1rem auto;
  flex-grow: 2;
  text-wrap: wrap;
  overflow-y: scroll;
  overflow-wrap: break-word;
  word-wrap: break-word;
  scrollbar-color: #CCD transparent;
}

ul>li {
  margin: 0 2rem;
  width: calc(100% - 4rem);
}
